<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="XA.Reference.Project.Playground.Movies" description="" dependencies="XA.Reference.Project.Playground" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Playground\serialization\Movies" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Pages" database="master" path="/sitecore/content/SXA Reference/Playground/int/Home/movies" />
            <include name="Tags - Country" database="master" path="/sitecore/content/SXA Reference/Playground/int/Data/Tags/Movie Country" />
            <include name="Tags - Genre" database="master" path="/sitecore/content/SXA Reference/Playground/int/Data/Tags/Movie Genre" />
            <include name="Tags - Language" database="master" path="/sitecore/content/SXA Reference/Playground/int/Data/Tags/Movie Language" />
            <include name="Tags - Type" database="master" path="/sitecore/content/SXA Reference/Playground/int/Data/Tags/Movie Type" />
            <include name="Media" database="master" path="/sitecore/media library/Project/SXA Reference/Playground/movies" />            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>