<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="XA.Reference.Project.Common" description="" dependencies="" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Common\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content" database="master" path="/sitecore/content/SXA Reference">
              <exclude children="true" />
            </include>
            <include name="Media Library" database="master" path="/sitecore/media library/Project/SXA Reference">
              <exclude children="true" />
            </include>
            <include name="Themes" database="master" path="/sitecore/media library/Themes/SXA Reference">
              <exclude children="true" />
            </include>
            <include name="Templates" database="master" path="/sitecore/templates/Project/SXA Reference">
              <exclude children="true" />
            </include>
            <include name="PowerShell" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SXA Reference">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>